
/.idea
.idea/.name
/.mixin.out/class/net/minecraft/client/renderer/entity
config/everycomp-hazardous.properties
config/libraryferret_1.properties
config/oculus.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
/XaeroWorldMap
/XaeroWorldMap
/saves
minecraftinstance.json
/crash-reports
/logs
usercache.json
/.idea
/.mixin.out
/logs
/saves
usercache.json
/XaeroWorldMap
/logs
minecraftinstance.json
/saves
minecraftinstance.json
.curseclient
minecraftinstance.json
minecraftinstance.json
debug/generated_resource_pack/create/loot_tables/blocks/deepslate_zinc_ore.json
/saves
/XaeroWaypoints
usernamecache.json
/modernfix
/debug
