
/.idea
.idea/.name
/.mixin.out/class/net/minecraft/client/renderer/entity
config/everycomp-hazardous.properties
config/libraryferret_1.properties
config/oculus.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
/XaeroWorldMap
/XaeroWorldMap
/saves
minecraftinstance.json
/crash-reports
usercache.json
/.idea
/.mixin.out
/saves
usercache.json
/XaeroWorldMap
minecraftinstance.json
/saves
minecraftinstance.json
.curseclient
minecraftinstance.json
minecraftinstance.json
/saves
/XaeroWaypoints
usernamecache.json
/modernfix
/debug
servers.dat_old
servers.dat
/config/blockswap
/logs
emi.json
emi.json
config/everycomp-hazardous.properties
config/oculus.properties
config/packetfixer.properties
*.log
*.properties
